{% extends "base.html" %}
{% block title %} О нас {% endblock %}
{% block styles %} 
<style>
    p, h3{
        text-indent: 2rem;
    }
    
</style>
{% endblock %}
{% block content %}
<div class="container text-justify" style="p">
    <h3 class="text-success">
        Бағдарлама туралы
    </h3>
    <p>
        Эразмус+ бағдарламаcының 
		«Орталық Азия университеттеріндегі есептеу лингвистика бағытындағы пәнаралық магистратура бағдарламасын ашу» 
		- 585845-ЕРР-1-2017-1-ES-EPPKA2-CBHE-JP жобасы аясында жасалып жатқан бағдарлама 
    </p>
    <p>
        Тіл-бұл қарым-қатынас тәсілі, оның көмегімен біз сөйлеп, оқып, жаза аламыз. Табиғи тілді өңдеу (NLP) - бұл компьютерлерге адам тілін түсінуге
және өңдеуге мүмкіндік беретін жасанды интеллектпен(ИИ) айналысатынинформатиканың ішкі кеңістігі.
    </p>
    <h3 class="text-success">
        Зачем нужен национальный корпус?
    </h3>
    <p>
        .......................
    </p>
    <h3 class="text-success">
        Как развивается Национальный корпус?
    </h3>
    <p>
        ................... 
    </p>
</div>
{% endblock %}