{% extends 'base.html' %}

{% block title %} О нас {% endblock %}

{% block content %}
<div class="row my-5">
          
<br>
<h5 class="text-success text-center"> Жоба атауы: </h5> 
<br>- Орталық Азия университеттеріндегі есептеу лингвистика бағытындағы пәнаралық магистратура бағдарламасын ашу 
<br>- Development of the interdisciplinary master program on Computational Linguistics at Central Asian universities
<br>- Разработка междисциплинарной магистерской программы по вычислительной лингвистике в Центрально-Азиатских университетах </br>
</div>
<p>
<div class="row my-5">
<h6 class="text-success text-center"> CLASS 585845-EPP-1-2017-1-ES-EPPKA2-CBHE-JP</h6> 
 </div>

 <div class="row my-5">
 <h5 class="text-success text-center"> Жоба мақсаты: </h5>
лингвистикалық білімі және есептеу ғылымдары бойынша базалық білімі бар магистранттарға арналған есептеу лингвистика бағытындағы магистратура бағдарламасын жасау және де Қазақстан және Өзбекстан университеттерінің бастамасы аясында мамандандырылған курстарда аралас оқыту технологияларын енгізу  
 </div>
 <p>
<div class="row my-5">
Участники проекта Костанайского государственного университета им. А.Байтурсынова разработали «KazMorph» – Kazakh Morphological parser в качестве подзадачи разработки инструментов НЛП (WP3.3) проекта CLASS.
KazMorph реализован в Python с применнием библиотеки NLTK и Apertium-API.
Программа позволяет провести автоматический морфологический разбор предложения или текста онлайн. 
<br>Программа работает в двух режимах: администратор и пользователь.
В режиме администратора организована работа лингвистов для редактирования и ввода данных. При вводе текста учитываются такие данные как год издания, источник, жанр текста, дата ввода и т.д..
В пользовательском режиме реализована система поиска слов и словосочетаний, которая дает возможность найти область применения этого слова и конкретные примеры из литературы для лучшего понимания значения. При наведении курсора мышки дается полная расшифровка слова (словосочетания).
 
</div>


{% endblock  %}