{% extends "base.html" %}

{% block title %}
  KazMorph
{% endblock %}

{% block content %}
<style>
   .fig {
    text-align: center; 
   }
  </style>
<p class="fig">
        <img src="/static/images/class1.png" width="180" height="160" alt="Иллюстрация">
		<img src="/static/images/123.png" width="200" height="200" alt="Иллюстрация">  
		<img src="/static/images/world.png" width="400" height="100" alt="Иллюстрация">
		         
		<h3 class="text-center">Лингвистикалық KazMorph бағдарламасы </h3>
        <p class="text-justify">   Компьютерлік лингвистиканың көптеген міндеттері үшін морфологиялық белгілеуі бар мәтіндердің үлкен корпусы қажет. Мұндай белгілеу әдетте морфологиялық анализаторлардың көмегімен жүзеге асырылады. Мәтінді табиғи тілде талдаудағы маңызды кезең оның морфологиялық талдауы, яғни мәтінді құрайтын лексема жайлы егжей-тегжейлі морфологиялық мәліметтерді алу болып табылады. Мәтінді морфологиялық талдауды және статистикалық өңдеуді автоматтандыру қолданбалы лингвистиканың маңызды міндеттерінің бірі болып табылады.
		<p class="fig">	<img src="/static/images/1.png" width="500" height="300" alt="Иллюстрация">             
        </p>
		    



{% endblock %}