<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/icons/css/all.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="row p-4">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12 p-5 card mt-5" >
            <form class="card-body" >
                <div class="text-center">
                    <h1 class="fas fa-sign-in-alt"></h1> <br>
                    <br>
                </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Логин</label>
                <input type="text" class="form-control"  name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Введите пароль">
            </div>
            <br>
                <button type="submit" class="btn btn-primary btn-block">Вход</button>
            </form>
            <span class="text-center mt-2">
                Нет аккаунта? 
                <a href="/signup">Регистрация</a>
            </span> 
        </div>
        <div class="col-md-4 col-sm-12"></div>
    </div>



<script src="/static/js/jquery-3.4.0.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/mark.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>